/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
    font-family: "Libre Baskerville";
    src: url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
}
/* border: solid 1px red; */

.main-container {
    display: grid;
    width: auto;
    height: 64rem;
    grid-template-columns: 30% 70%;
    grid-template-rows: 10% 40% 10% 40%;
}

/*header section*/
.header-container {
    display: block;
    position: fixed;
    width: 25rem;
    margin: 2rem;

}

.header-container h1 {
    font-family: "Libre Baskerville";
    font-weight: 700;
    font-size: 6rem;
    line-height: 1.5;
}

/*socials section*/
.socials-container {
    display: flex;
    /*position: fixed;*/
    justify-content: space-around;
    align-items: center;
    grid-area: 3 / 1 / 4 / 2;
    width: 25rem;
    height: 3.125rem;
    margin-left: 2rem;

}

/*contact section*/
.contact-container {
    display: block;
    grid-area: 4 / 1 / 5 / 2;
    /*margin-top: 3.38rem;*/
    margin-left: 2rem;
    padding: 1rem;
    width: 23rem;
    height: 17.5rem;
    background-color: #D9D9D9;
}
.send {
    /*margin: 1rem 0;*/
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.text-box {
    margin: 0 1rem;
}
.submit-button {
    display: block;
    float: right;
    margin-top: .5rem;
    margin-right: .60rem;
}

/* nav section*/
.nav-container {
    display: flex;
    /* position: fixed; */
    width: 100%;
    justify-content: space-around;
    align-items: center;
   /* background-color: #D9D9D9;*/
}