/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;

}

.sidebar h1 {
    font-size: 6rem;
    line-height: 1.5;
    color: #453636
}

.socials {
    display: flex;
    justify-content: center;
    gap: 8rem;
    width: 27.125rem;
    font-size: 1.5rem;
    color: #453636
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 27.125rem;
    height: 13.8125rem;
    background-color: beige;
    border-radius: 20px;
}
.contact p {
    text-align: center;
    color: #453636
}
.contact h2 {
    text-align: center;
    font-size: 2rem;
    color: #453636;
}
.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    margin-top: 1rem;
    
}
.content p {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(255,255,255, .25)
}
.box {
    display: flex;
    position: relative;
    background-color: beige;
    border-radius: 20px;
}
.caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #453636;
    font-size: 1.2rem;
    width: 100%;
    bottom: 0;
}
.mission {
    grid-column: span 1;
    grid-row: span 1;
}
.events {
    grid-column: span 2;
    grid-row: span 1;
}
.join {
    grid-column: span 2;
    grid-row: span 1;
}
.donate {
    grid-column: span 1;
    grid-row: span 1;
}
.location {
    grid-column: span 3;
    grid-row: span 1;
}

/*phone*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr;
        width: 425px;
        height: 100vh;
        padding: 0;
    }
    .sidebar {
        width: 400px;
        padding: 0;
        margin: 16px 0;
        height: 400px;
    }
    .sidebar h1 {
        font-size: 2rem;
        text-align: center;
    }
    .contact {
        width: 400px;
    }
    .content {
        grid-area: 2 / 1 / 3 / 2;
    }
    
}
/*tablet*/
@media only screen and (max-width: 768px) {
    .main-container {
        display: grid;
        width: 768px;
        grid-template-columns: minmax(256px, 1fr) 3fr;
    }
    .content {
        width: 50%;
    }
    .sidebar {
        width: 256px;
    }
}

/*laptop*/
@media only screen and (max-width: 1024px) {
    .sidebar {
        display: flex;
        width: 341px;
    }
    .contact {
        width: auto;
    }
    .contact h2, p {
        padding: 0 16px;
    }
    .socials {
        width: auto;
        gap: 80px;
    }
}













/*
@font-face {
    font-family: "Libre Baskerville";
    src: url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
}

@font-face {
    font-family: "Source Sans 3";
    src: url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
}

/* border: solid 1px red; 

.main-container {
    display: grid;
    width: 90rem;
    height: auto;
    grid-template-columns: 30% 70%;
    grid-template-rows: 10% 40% 10% 40%;
}

/*header section

.side-panel-container {
    display: flex;
    flex-direction: column;
    width: 24rem;
    margin: 2rem;
} 

.header-container h1 {
    font-family: "Libre Baskerville";
    font-weight: 700;
    font-size: 6rem;
    line-height: 1.5;
}

/*socials section
.socials-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12rem;
    height: 3.125rem;
    margin: 3rem;
    padding: 0 1rem;
}


.contact-container {
    display: block;
    grid-area: 4 / 1 / 5 / 2;
    margin-top: 3rem;
    margin-left: 1.5rem;
    padding: 1rem;
    width: 23rem;
    width: 22rem;
    height: 17.5rem;
    border-radius: 10px;
    background-color: #D9D9D9;
}
.send {
    /*margin: 1rem 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
}
.text-box {
    margin: 0 1rem;
}
.submit-button {
    display: block;
    float: right;
    margin-top: .5rem;
    margin-right: .60rem;
}

/* nav section
.nav-container {
    display: flex;
    flex-shrink: 1;
    grid-area: 1 / 2 / 2 / 2;
    /*position: fixed; figure out how to get this to stick in its column
    width: 99%;
    height: 1rem;
    justify-content: space-around;
    align-items: center;
    margin-top: 4.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;

}

/* photo section 
.photo-quote-container {
    display: flex;
    flex-direction: column;
    grid-area: 2 / 2 / 7 / 2;
}
.photo-a-container {
    display: flex;
    width: 99%;
    height: 21rem;
    margin: 2rem 0;
    overflow: hidden;
}

.photo-b-container {
    display: flex;
    width: 99%;
    height: 21rem;
    margin-top: 2rem;
    overflow: hidden;
}


.img-a {
    width: 99%;
    height: 21rem;
    object-fit: cover;
    object-position: 50% 50%;
}

.img-b {
    width: 99%;
    height: 21rem;
    object-fit: cover;
    object-position: 50% 80%;
}


.quote-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99%;
    font-size: 1rem;
    line-height: 3;
    margin: 2rem 0;
    font-family: Arial, Helvetica, sans-serif;

}


.copy {
    display: flex;
    grid-area: 7 / 2 / 8 / 2;
    margin: 2rem;
    justify-content: flex-end;
    color: #D9D9D9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75rem;

}

@media only screen and (max-width: 425px) {
   .main-container {
    display: flex;
    flex-direction: column;
    align-content: center;
   }

   .fixed {
    position: relative;
   }
   
   .header-container h1{
    position: relative;
    top: 16px;
    width: 350px;
    height: 40px;
    font-size: 36px;
    margin: 0 0 16px 0;
   }
   .socials-container {
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: auto;
    padding-top: 16px;
    margin: 20px 90px;

   }
   .contact-container {
    display: block;
    position: fixed;
    bottom: 16px;
   }
   .nav-container {
    font-size: 16px;
    margin: 20px 0;
   }
   .photo-a-container {
    margin-top: 20px;
   }
   .quote-a {
    font-size: 16px;
    text-align: center;
    line-height: 2;
   }
   .quote-b {
    margin-top: 20px;
    font-size: 16px;
   }
}



 